<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, Nnedu</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <form>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Enter Your Name" required />
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" placeholder="Enter Your Email" required />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" placeholder="Enter Your Password" required />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</main>



<router-outlet />

